:root{
    /* Colors Variables*/
    --color-primary : #ee5057;
    --color-secondary : #111;
    --color-text : #898989;
    --color-light : #f4f4f4;

    /* Fonts */
    --font-primary : 'Open Sans',Arial, Helvetica, sans-serif;
    --font-bold : 700;
    --font-light : 400;
    --font-size-text : 13px;
    --font-size-title : 20px;
    --font-size-section-title : 48px;

    /*Size*/
    --size-primary : 25px;
    --size-double : calc(var(--size-primary) * 2);
    --size-half : calc(var(--size-primary) / 2);
    --margin-primary : var(--size-primary);
    --padding-primary : var(--size-primary);
    --height-primary : 120px;

    /*BreakPoint*/
    --md : 768px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}
a{
    color: inherit;
    text-decoration: none;
}
.navbar .level-nav-link.nav-link.active,
.navbar .level-nav-link.nav-link:hover{
    
    background-color: var(--color-primary);
    color: white;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand h1{
    margin: 0;
}

@media(min-width : 768px) {
    .navbar{
        height: var(--height-primary);
        
    }
    .navbar .level-nav-link.nav-link{
        padding: calc(var(--padding-primary) * 2 ) var(--padding-primary);
        
        
    }
}

.navbar .level-nav-link.nav-link{
    padding-left: var(--padding-primary);
    padding-right: var(--padding-primary);
    
}
/* Start hero */
.hero{
    background : url('../imgs/hero.jpg') no-repeat center center /cover;
    height: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form{
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: var(--size-half);
    padding: var(--padding-primary) var(--size-double);
   
}
.form-group{
    flex: 1 25%;
    position: relative;
}
.form-group I{
    color: var(--color-primary);
    font-size: var(--font-size-title);
    position: absolute;
    left: var(--size-half);
    top: 15px;
}
.form-group .form-control{
    border-radius: 0;
    padding: var(--size-half);
    padding-left: var(--size-double);
}
.btn-primary{
    background-color: var(--color-primary);
    border: none;
    border-radius: 0;
    width: 100%;
    padding: var(--size-half);
    text-transform: uppercase;
    font-weight: var(--font-bold);
    transition: all 0.3s ease-in;
}
.btn-primary:hover{
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    
}
.need-help{
    background-color: white;
    font-size: 0.8em;
    padding: var(--size-primary) 0 0;
}
.need-help a{
    color: var(--color-primary);
    
}
/* End hero */
/* Start sub */
section.section-color{
    background-color: var(--color-primary);
    padding: var(--size-double) 0;
    color: white;
}
.section-title{
    font-size: var(--font-size-section-title);
    
}
.section-subtitle{
    font-size: var(--font-size-title);
}
.btn-white{
    color: inherit;
    border : 2px solid white;
    padding: var(--size-half) var(--padding-primary);
    text-transform: capitalize;
    transition: all 0.3s ease-in;
}
.btn-white:hover{
    color: var(--color-primary);
    background-color: white;
}
/* Start sub */
.section-down-arrow{
    height: var(--height-primary);
    width: 100%;
}
.article{
    text-align: center;
    margin: var(--size-double) 0;
    padding: var(--padding-primary);
    transition: all 0.2s ease-in;
    color: var(--color-primary);
}
.article:hover{
    transform: scale(1.1);
    box-shadow: 0 0 7px 0 var(--color-text);
}
.article .article-icon{
    font-size: 4em;
    margin-bottom: var(--size-primary);
}
.btn-more{
    width: fit-content;
    text-transform: capitalize;
}

/* slider */
section.section-gray{
    background-color: var(--color-light);
    padding: var(--size-double) 0;
}

.level-slider-item{
    
    background-color: white; 
    margin-right: 12px;
    
}
.level-slider img{
    width: 100%;
    aspect-ratio: 16 / 9;
}
.level-slider-item-container{
    padding: var(--padding-primary);
}
.level-slider-item h3{
    font-size: var(--font-size-title);
    color: var(--color-primary);
}
.level-slider-item p{
    font-size: var(--font-size-text);
    color: var(--color-text);
}
.slick-next:before, .slick-prev:before{
    color: var(--color-primary);
}
/*recomanded places*/
.star-places{
    background-color: white;
}
.star-places-header{
    background-color: var(--color-primary);
    color: white;
    padding: var(--size-half);
}
.star-places-header h3{
    font-size: var(--font-size-title);
    font-weight: var(--font-light);
}
.star-places-header p{
    font-size: var(--font-size-text);
    margin: 0;
}
.star-places-body{
    padding: var(--size-half);
}
.star-places-body a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-primary);
    background-color: var(--color-light);
    margin-bottom: var(--size-half);
    columns: var(--color-secondary);
    transition: all 0.2s ease-in;
}
.star-places-body a:hover{
    background-color: #c1c1c1;
}
.star-places-body h4{
    font-size: var(--font-size-title);
    text-transform: uppercase;
    
}
.star-places-body img{
    height: 69px;
    aspect-ratio: 16/9;
}
/*video*/
section.video{
    padding-bottom: var(--size-double);
}
.video-container{
    overflow: hidden;
    width: 100%;
    height: 515px;
    position: relative;
}
.video-container video{
    width: 100%;
}

.video-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 515px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-control-play,
.video-control-pause{
    color: white;
    font-size: var(--font-size-section-title);
    cursor: pointer;
}
.video-control-pause{
    display: none;
}
/*contact*/
section.contact{
    padding: var(--size-double) 0;
}
.contact-form{
    margin: 0 auto;
}
.contact-form .form-control{
    background-color: var(--color-light);
    border: none;
    font-size: .8em;
    margin-bottom: var(--size-half);
}
.map-container{
    width: 100%;
    height: 100%;
}
@media(max-width: 768px){
    .map-container{
        padding-bottom: var(--padding-primary);  
    }
}
/*footer*/
.footer{
    background-color: var(--color-secondary); 
}
.footer p{
    padding: var(--padding-primary);
    color: white;
    text-align: center;
    margin-bottom: 0;
}
.footer a{
    color: var(--color-primary);
}